<a class="list-group-item list-group-item-action" routerLink="{{recipe.id}}" routerLinkActive="active"
   style="cursor: pointer">
  <div class="d-flex w-100 justify-content-between">
    <div class="d-inline-block">
      <h4 class="mb-1">{{recipe.name}}</h4>
      <span class="mb-1">{{recipe.description}}</span>
    </div>
    <div class="d-inline-flex flex-column justify-content-center">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-fluid"
        style="max-height: 60px">
    </div>
  </div>
</a>
